/* Styles for the Hero component */

.heroWrapper {
  /* height: 66vh; 2/3 of viewport height */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 66vh;
  margin-bottom: 1rem;
  position: relative;
  color: #fff;
  text-align: center;
} 
.heroText {

  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  font-family: var(--font-courier-prime);
  -webkit-text-stroke: 1px black;
  font-style: italic;
  position: absolute;
  text-transform: lowercase;
}
