/* Styles for the Hero component */

.heroWrapper {
  /* height: 66vh; 2/3 of viewport height */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 66vh;
  margin-bottom: 1rem;
  position: relative;
  /* color: #fff; */
  /* text-align: center; */
} 