.verticalNav {
    display: flex;
    flex-direction: column;
    gap: var(--nav-gap);
    padding: var(--nav-padding);
    z-index: 10;
    height: 70vh;
    justify-content: space-between;
  }
  
  .navItem {
    color: var(--primary-color);
    font-size: var(--nav-font-size);
    /* font-family: var(--font-courier-prime); */
    font-weight: 700;
    text-transform: lowercase;
    writing-mode: vertical-lr;
    text-decoration: none;
    position: relative;
    transition: all var(--transition-speed) ease;

  }
  
  .navItem::after {
    content: '';
    position: absolute;
    width: var(--line-width);
    height: 100%;
    background: var(--primary-color);
    top: 0;
    right: 50%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform var(--transition-speed) ease;
  }
  
  .navItem:hover::after {
    transform: scaleY(1);
  }
  .navItem.active{
    font-style: italic;
    text-decoration: line-through;
  }
  

  