.blogCard{

}

.blogCard::after{
    border-right: 10px solid white;
    content: "";
    left: 0;
    position: absolute;
}

.blogCard::after {
    content: "";
    position: absolute;
    width: 80%;
    bottom: -5px;
    height: 0;
    border-top: 7px solid var(--primary-color);
  }